#product_page{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.product{
    flex: 20%;
    max-width: 20%;
    align-items: center;
    justify-content: center;
}

.product_text{
    text-align: center;
}

.product_img{
    width: 50%;
}

.product_link{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.review{
    border-style: solid;
    width: fit-content;
    margin: 1vh;
    margin-left: 1vw;
    padding: 5px;
}

#tags{
    height: fit-content;
}