<div id="product_page">
  <% @products.each do |product| %>
    <div class="product">
      <a href="products/<%=product['id']%>">
      <h2 class="product_text"><%= product['name'] %></h2>
      </a>
      <p class="product_text">Price: <%= product['price'] %></p>
    </div>
  <% end %>
</div>